<% include ./src/partials/head.ejs %>
<body>
	<%
		const active = 'first';
		const userList = ['Baisulis', 'Bendžamins', 'Biafra', 'Dainis', 'DJ EV', 'Dukts', 'Dzelzceļnieks', 'Edgars2007', 'Edis', 'Egilus', 'Entuziasts', 'Feens', 'Gaujmalnieks', 'Gimnazists123', 'Gonta-Kun', 'Gragox', 'Hckeins', 'Holder', 'Ingarix', 'Ingii', 'Jānis U.', 'Kaamis007', 'Kasp2008', 'Kasparoviča', 'Kikos', 'Kleivas', 'Knospins04', 'Lieeeneee', 'Ludis21345', 'Makenzis', 'Maranello Prime', 'MC2013', 'Meistars Joda', 'Olgerts V', 'OskarsC', 'Papuass', 'Pirags', 'ScAvenger', 'Silraks', 'Treisijs', 'Tttoooxxx', 'Turaids', 'Uldis s', 'Undiine55', 'Vaidila', 'Vecakina', 'Vera-Zhelikhovskaya', 'Vylks', 'Wert'];
		const userCount = 15;
	%>
	<div>
		<%- include ./src/partials/nav.ejs%>
	</div>
	<div class="bodyContainer">
		<h3>Balsojums par 2019. gada Vikipēdijas latviešu valodā vērtīgāko dalībnieku — pirmā kārta</h3>
		Balsošana notiek līdz 2020. gada 8. janvārim plkst. 13.30 (pēc Latvijas laika)<br /><div style="margin-top:10px; margin-bottom: 20px;">Lai noskaidrotu 2019. gada vērtīgāko Vikipēdijas latviešu valodā dalībnieku, šogad vadīsimies pēc iepriekšējo gadu sistēmas. Lai to paveiktu, tiek rīkotas divas kārtas. Pirmā kārta domāta, lai dalībnieki varētu redzēt kopienas vērtējumu par sevi, kā arī atlasīt finālistus otrajai kārtai. Aicinām izvēlēties 15, Jūsuprāt, labākos, kvalitatīvākos un noderīgākos dalībniekus.</div>
		
		<ul class="threeRows">
			<% userList.forEach(function(user){ %>
			<li>
				<input
					type="checkbox"
					class="votingCheckbox"
					id="<%= 'check'+user %>"
					name="votingCheckbox"
					data-user="<%= user %>"
				/>
				<label for="<%= 'check'+user %>"><%= user %> </label> (<a
					href="<%= 'https://lv.wikipedia.org/wiki/Dalībnieks:'+user.replace(/ /g,'_') %>"
					rel="noopener"
					target="_blank"
					>dalībnieklapa</a
				>)
			</li>
			<% }) %>
		</ul>

		<div id="currentUserCount"></div>
		<!-- <button type="button" class="btn btn-primary" id="voteButton">Balsot!</button> -->
	</div>
</body>
