<% include ./src/partials/head.ejs %>
<body>
	<%
		const active = 'newbie';
		const userList = ['Bendžamins', 'Entuziasts', 'Gimnazists123', 'Gonta-Kun', 'Kasparoviča', 'Minorax', 'Sai-zeme-visdarga-mes-brivibu-guvam', 'Vera-Zhelikhovskaya'];
		const userCount = 3;
	%>
	<div>
		<%- include ./src/partials/nav.ejs%>
	</div>
	<div class="bodyContainer">
		<h3>2019. gada vērtīgākais jaunais dalībnieks Vikipēdijā latviešu valodā</h3>
		Balsošana notiek līdz 2020. gada 16. janvārim plkst. 12.00 (pēc Latvijas laika)<br /><div style="margin-top:10px; margin-bottom: 20px;">Šis ir balsojums par 2019. gada labāko jauno dalībnieku(-ci) Vikipēdijā latviešu valodā. Balsot var par maksimāli trim dalībniekiem(-cēm), var balsot arī par diviem vai tikai par vienu.<br />Kandidāti ir uzskaitīti alfabētiskā secībā. Balsojumā uzskaitīti dalībnieki(-ces), kas 2018. gadā veica vismaz 150 izmaiņas un Vikipēdijā darbojas ne ilgāk kā pēdējos divus gadus.</div>
		<ul>
			<% userList.forEach(function(user){ %>
			<li>
				<input
					type="checkbox"
					class="votingCheckbox"
					id="<%= 'check'+user %>"
					name="votingCheckbox"
					data-user="<%= user %>"
				/>
				<label for="<%= 'check'+user %>"><%= user %> </label> (<a
					href="<%= 'https://lv.wikipedia.org/wiki/Dalībnieks:'+user.replace(/ /g,'_') %>"
					rel="noopener"
					target="_blank"
					>dalībnieklapa</a
				>)
			</li>
			<% }) %>
		</ul>

		<div id="currentUserCount"></div>
		<button type="button" class="btn btn-primary" id="voteButton">Balsot!</button>
	</div>
</body>
